<sound-manager></sound-manager>
<div class="small-11 small-centered columns">
  <div class="large-1 columns">
    <div class="small-album">
      <img ng-src="{{currentPlaying.albumArt}}">
    </div>
  </div>
  <div class="buttons large-3 columns">
    <i class="fa fa-step-backward" prev-track></i>
    <i class="material-icons" play-pause-toggle>pause</i>
    <i class="fa fa-step-forward" next-track></i>
    <div class="progress-bar">
          <div class="seekBase centered" seek-track>
                        <!-- {{ currentPostion }}  -->
                        <div class="seekLoad" ng-style="{width : ( progress + '%' ) }"></div>
                        <!-- {{ currentDuration }} -->
                    </div>

    </div>
  </div>
  <div class="large-4 columns player-tracks">
    <md-select ng-model="currentPlaying.title" ng-change="playMe(currentPlaying)">
      <md-option ng-repeat="p in currentAlbum" value="{{p.title}}" play-from-playlist="p">{{p.title}}</md-option>
    </md-select>
  </div>
  <div class="large-2 columns right-box">
    <span class="material-icons minimize" ng-click="minimize()">call_received</span>
  </div>
</div>
