<div class="large-12 columns">
  <h1>Upcoming Dates</h1>

  <!-- modal button/add button -->
  <i class="fa fa-plus-square" data-reveal-id="myModal" ng-show="admin"></i>

  <!-- Modal -->
  <div id="myModal" class="reveal-modal" data-reveal aria-labelledby="modalTitle" aria-hidden="true" role="dialog">
    <h2 id="modalTitle">Add a Show</h2>

    <form>

      <div class="row">
        <div class="large-4 columns">
          <label>Date
            <input type="date">
          </label>
        </div>
        <div class="large-6 columns">
          <label> Venue
            <input type="text">
          </label>
        </div>
      </div>

      <div class="row">
        <div class="large-6 columns">
          <label> Title
            <input type="text">
          </label>
        </div>
      </div>
      <div class="row">
        <div class="large-8 columns">
          <label> Description
            <textarea name="Description" cols="30" rows="10"></textarea>
          </label>
        </div>

      </div>

      <button>Add</button>

    </form>

    <a class="close-reveal-modal" aria-label="Close">&#215;</a>

  </div>

  <!-- TABLE -->
  <table>
    <thead>
      <tr>
        <th width="200">Date</th>
        <th>Venue</th>
        <th width="150">Description</th>
        <th width="150">Title</th>
      </tr>
    </thead>
    <tbody>
      <tr ng-repeat="show in shows | filter:{upcoming:false}">
        <td>{{show.date}}</td>
        <td>{{show.venue}}</td>
        <td>{{show.description}}</td>
        <td>{{show.title}}</td>
      </tr>
    </tbody>
  </table>

  <h1>Past Dates</h1>
  <table>
    <thead>
      <tr>
        <th width="200">Date</th>
        <th>Venue</th>
        <th width="150">Description</th>
        <th width="150">Title</th>
      </tr>
    </thead>
    <tbody>
      <tr ng-repeat="show in shows | filter:{upcoming:true}">
        <td>{{show.date}}</td>
        <td>{{show.venue}}</td>
        <td>{{show.description}}</td>
        <td>{{show.title}}</td>
      </tr>
    </tbody>
  </table>
</div>

