<!-- <ul>
  <li ng-repeat="p in playlistsData">
    <h4>{{p.title}}</h4>
    <img ng-src={{p.tracks[0].artwork_url}}>
  </li>
</ul>
 -->

<!--  <h3>{{track.title}}</h3>
 <audio controls ng-src={{track.stream}}></audio> -->
<!--
 <div class="row">
            <div class="col-md-12">

                <h5>Songs</h5>
                <ul>
                    <li ng-repeat="song in songs">
                        <button music-player="play" add-song="song">{{ song.title }}</button>
                    </li>
                </ul>

                <button play-all="songs">Play all</button>

            </div>
        </div> -->

        <hr />

        <div class="row">
            <div class="col-md-12">
                <!-- init soundManager2 player -->
                <sound-manager></sound-manager>

                <p>
                    Currently Playing: {{ currentPlaying.title }} by {{ currentPlaying.user.username }} ({{ currentPostion }} / {{ currentDuration }})
                </p>

                <div class="seekBase" seek-track>
                    <div class="seekLoad" ng-style="{width : ( progress + '%' ) }"></div>
                </div>
                <br />
                <button play-music>Play</button>
                -
                <button pause-music>Pause</button>
                -
                <button stop-music>Stop</button>
                -
                <button repeat-music>Repeat ({{ repeat }})</button>
                -
                <button play-pause-toggle data-play="Play!" data-pause="Pause!">Play Toggle</button>

                Is Playing: {{ isPlaying }}
                <br/>
                <br/>Volume: {{ volume }} -
                <button music-volume data-type="increase">+</button>
                -
                <button music-volume data-type="decrease">-</button>
                -
                <button mute-music>Mute ({{ mute }})</button>
                <br/>
                <br/>

