@mixin album-background($image){
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  box-shadow: 1px 1px 4px rgba(0,0,0,0.2);
  height: 304px;
  width: 320px;
  z-index: 1;
  background: #F7F8EB $image top left no-repeat;
  background-size: 320px 100%;
  color: white;

}
html{
  background-color: black;

}
body{
  // background-color: #455A64;
  background-color: black;
  height: 100%;
  position: relative;
}
h1{
  font-family: 'Audiowide', cursive;
}
.container{
  width: 1080px;
  margin: 50px auto;

  background-color: #333333;
}

li {
  cursor: pointer;
}
.home-music{

}
.artist {
  display: flex;
  // align-items: center;
  // justify-content: center;
  position: relative;
  ol{
    list-style: none;
  }
}
.album {
}
.three{
  @include album-background(url(https://f1.bcbits.com/img/a0010385105_16.jpg));
}
.three-container{

}
.roto-container{

}
.quantum-container{

}
.quantum{
  @include album-background(url(https://f1.bcbits.com/img/a1323750806_16.jpg));
}
.roto-album{
  @include album-background(url(https://f1.bcbits.com/img/a2707309848_16.jpg));
}
ol{
  margin: 0;
}
.tracks {
  display: flex;
  flex-direction: column;
  max-height: 264px;
  transform: scale(0);
  transform-origin: center left;
  font-size: 14px;
  padding-left: 30px;
  overflow: scroll;
  padding: 20px;
  position: absolute;
  top: 0;
  z-index: 12;
  width: 175px;
  // text-transform: uppercase;
  text-overflow: ellipsis;
  background: #282828;
  color: white;
  // border: 1px solid white;
}
.tracks a {
  display: flex;
  // opacity: 0;
  // text-shadow: 0 1px 0 rgba(255, 255, 255, 0.49);
  text-decoration: none;
  color: lightblue;
  letter-spacing: .5px;
  margin-bottom: 5px;
  &:hover {
    color: white;
  }
  // &:before {
  //   content: "•";
  //   display: inline-block;
  //   padding-right: 5px;
  // }
}
.album-overlay {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 1;
  display: flex;
  align-items: center;
  justify-content: center;
  background: rgba(47, 47, 45, 0.5);
  width: 100%;
  height: 100%;
  font-family: 'Rajdhani', sans-serif;
  text-transform: uppercase;
  color: #E0E0E0;
  opacity: 0;
  transition: .3s all cubic-bezier(.44,.22,.18,.79);
}
.album-overlay:hover {
  cursor: pointer;
  opacity: 1;
}
.left{
  margin-right: 30px;
  transition: 1s ease;
}
my-player{
  position: relative;
  width: 100%;
  height: 100px;
  bottom: 0;
  color: white;
  position: fixed;
  background-color: black;
  z-index: 20;
  transition: 0.5s ease-in;
  .material-icons{
    font-size: 45px;
  }
  .minimize{
    font-size: 25px;
    position: absolute;
    top: 10;
    right: 10;
  }
  i{
    cursor: pointer;
    border-radius: 70px;
    padding: 6px;
  }
  .buttons{
    text-align: center;
    margin: 10px;
    font-size: 30px;
  }
  h4{
    margin: 40px;
    color: white;
  }
  .progress-bar{
    font-size: 20px;
  }
}
my-player i:hover{
  background-color: white;
  color: black;
}
.small-album{
  margin: 5px;
  width: 90px;
  height: 90px;
  background-color: grey;
}
.seekBase {
  margin: auto;
  height: 15px;
  width: 70%;
  border: 1px solid #cccccc;
}
.seekLoad {
  height: 15px;
  width: 0;
  background-color: #E0EAF1;
}
.player-minimize{
  height: 20px;
  transition: 0.5s ease;
  .minimize{
    top: 0;
  }
}

